<!DOCTYPE html>
<html>
<title>Movie Review Polarity Classifier</title>
<body>

<form action = "/train" method="POST">
    <p> Select Classifier :
    <select name="classifier">
    <option value="svm">Support Vector Machines</option>
    <option value="logreg">Logistic Regression</option>
    </select>
    <p> <input type ="submit" value="Train" /> </p>
</form>

<form action = "/review" method="POST">
    <p> Submit a review:
    <p> <input type="text" name="review"> </p>
    <p> <input type ="submit" value="Submit Review" /> </p>
</form>

</body>
</html>
